.cyclone-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--gray-200);
}

.cyclone-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
    background-color: var(--gray-100);
}

.cyclone-error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    text-align: center;
}
